.ShowContainer {
    background-color: #f4f4f4;
    padding: 32px;
}

.ShowTitle {
    font-size: 32px;
    text-align: center;
}


.ShowContent {
    margin: 32px auto;
    max-width: 960px;
}

.ShowInfo {
    padding: 32px;
    position: relative;
    min-height: 360px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.CommentShowLink {
    position: relative;
    text-align: center;
}
.ShowSkeletonContainer div {
    max-width: 960px;
    margin: 0 auto;
}

.ListCreateButton {
    margin-top: 32px;
    text-align: center;

}

.ListContainer {
    min-height: 84vh;
    /* background-color: #f4f4f4; */
    padding: 54px;
}

.ProjectListCardContent {
    position: relative;
    font-size: 20px;
    /* background-color: #f4f4f4; */
    max-width: 720px;
    margin: 0 auto;
    word-wrap: break-word;
    overflow: hidden;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


