.FormTitle {
    font-size: 42px;
    text-align: center;
}

.Form {
    position: relative;
    max-width: 520px;
    text-align: center;
    margin: 0 auto;
    padding: 32px 24px;
    min-height: 86vh;
}

.MuiInput-formControl {
    width: 480px;
    margin: 24px 0;
}

.Form .MuiButton-sizeLarge {
    height: 58px;
    width: 120px;
    font-size: 18px;
    margin: 24px;
}

.ShowSkeletonContainer {
    min-height: 88vh;
    max-width: 520px;
    margin: 0 auto;
}



@media all and (max-width: 640px) {
    .Form .MuiButton-sizeLarge {
        height: 36px;
        width: 80px;
        font-size: 12px;
        margin: 16px;
    }

    .MuiInput-formControl {
        width: 240px;
        margin: 24px 0;
    }

    .FormTitle {
        font-size: 36px;
    }
}
