.UserShowWrapper {
    /* background-color: #f4f4f4; */
    width: 100%;
    padding: 32px;
    height: 86vh;
}

.UserShowContainer {
    max-width: 480px;
    position: relative;
    margin: 0 auto;
}

.UserShowContainer h3 {
    font-size: 32px;
}


.UserButtons {
    max-width: 160px;
    text-align: center;
    margin: 0 auto;
}
.UserButtons .MuiButton-sizeLarge {
    height: 58px;
    width: 120px;
    font-size: 18px;
    margin: 24px;
}

.ShowSkeletonContainer {
    min-height: 88vh;
    max-width: 520px;
    margin: 0 auto;
}



@media all and (max-width: 640px) {
    .UserButtons .MuiButton-sizeLarge {
        height: 36px;
        width: 80px;
        font-size: 12px;
        margin: 16px;
    }
}



